*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}
.head{
  color: rgb(255, 255, 255); 
   text-decoration: none; 
   background-color: #383838; 
}

nav{
  box-shadow: 1px 1px 2px #444;
}
html{
  /* font-size: 100%; */
  scroll-behavior: smooth;
  overflow-x: hidden;
  
}

nav .navbar-brand{
  /* color: var(--bs-warning)!important; */
  color: #282828;
  font-size: 40px;
  font-style: italic;text-shadow: 2rem;
  /* font-family: cursive */
}

.hover:hover{
  /* color: black; */
  border: 1px solid rgb(23, 23, 23);
  border-radius: 10px;
  padding: 1px 2px 1px 2px;
  background-color: rgb(255, 174, 0); 
  transition: 0.2s ease;
}
.loginc{
  background-color: rgb(236, 236, 236);
  background: url(./carousel2.jpg);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


#login-form-wrap {
  background-color: rgb(255, 236, 236);
  width: 55%;
  
  margin: 30px auto;
  text-align: center;
  padding: 20px 0 0 0;
  border-radius: 4px;
  /* box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2); */
  color:rgb(20, 20, 20) ;
}

#login-form-wrap h2{
  font-size: 45px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 30px;
}

#login-form {
  padding: 0 60px;
 
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
}

input[type="email"],
input[type="password"] {
  color: #1a1a1b;
  width: 80%;
  padding: 0 0 0 10px;
  margin: 0;
  /* color: #8a8b8e; */
  border: 1px solid #c2c0ca;
  font-style: normal;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  display: inline-block;
  background: none;
 }


input[type="submit"] {
  border: none;
  width: 35%;
  display: block;
  background-color: #f8db00;
  color:rgb(35, 35, 35);
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 18px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
input[type="submit"]:hover {
  background-color: #262626;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #fff;
}

#create-account-wrap {
  margin-top: 20px;
  background-color: #c6c4bb;
  color: #8a8b8e;
  font-size: 14px;
  width: 100%;
  padding: 10px 0;
  border-radius: 0 0 4px 4px;
}


footer{
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px 100px;
  background-color: #4a4a4a;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-wrap: wrap;
}
footer .container{
  margin-top: 80px;
   display: flex;
   justify-content:space-between;
   flex-wrap:wrap;
   flex-direction: row;
}
footer .container .sec{
  margin-right: 30px;
}
footer .container .sec.abtus{
  width: 40%;
}
footer .container h2{
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 25px;
}
footer .container h2:before{
  content: '';
  position:absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f5b916;
}
footer  p{
  color: #999;
}
.symbol{
  margin-top: 20px;
  display: flex;
}
.symbol li{
  list-style: none;
}
.symbol li a{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}
.symbol li a:hover{
  background: #f5b916;
}
.symbol li a .fa{
  color: #fff;
  font-size: 20px;
}
.quicklinks{
  position: relative;
  width: 25%;
}
.quicklinks ul li{
  list-style: none;
}

.quicklinks ul li a{
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.quicklinks ul li a:hover{
  color: rgba(255, 200, 0, 0.937);
}
.contacts{
  width:calc(35%-60px);
  margin-right: 0 !important;
}
.contacts .info{
  position: relative;
}
.contacts .info li{
  display: flex;
  margin-bottom: 16px;
}
.contacts .info li span:nth-child(1){
  color: rgba(255, 255, 255, 0.841);
  font-size: 20px;
  margin-right: 10px;
}
.contacts .info li span{
  color: #999;
}
.contacts .info li a{
  color: #999;
  text-decoration: none;
}
.contacts .info li a:hover{
  color: rgb(255, 204, 0);
}



@media screen and (max-width: 800px) {
  footer .container{
      flex-direction: column;
  }
}

@media (max-width: 600px) {
  footer .container .sec {
      margin-left: -99px;
  }
}